/* This section deals with the styling of the header (GeneralOutput) and header children */

.header{
    display: flex;
    flex-direction: column;
    height: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    position: relative;
    top: 2%;
    margin: 0;
}

.userName {
    margin: 0;
    text-decoration: underline;
    font-size: 140%;
}

.userInfo {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 60%;
}

/* This section deals with the styling of the EducationOutput and it's children */

.educationBlock {
    display: inline-flex;
    flex-direction: row;
    width: 94%;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1% 3%;
}

.eduLeft {
    width: 65%;
    position: relative;
}

.eduRight {
    width: 35%;
    text-align: right;
}

/* This section deals with styling used throughout the whole resume page */

.line {
    color: black;
    background-color: black;
    height: 0px;
    width: 80%;
    border: 1px solid black;
}

.sectionTitle {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3%;
    margin-bottom: 0 !important;
}

.sectionSubtitle {
    font-style: italic;
    font-size: 15px !important;
    margin: 0;
    text-decoration: none;
}

.sectionContent {
    font-style: italic;
    font-size: 10px !important;
    margin: 0;
    text-decoration: none;
    font-weight: 600;
}

/* This last section deals with styling the entire resume page as a whole */

.resumeComp {
    width: 34vw;
    height: 44vw;
    position: fixed;
    right: 7%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
}