/* This stylesheet is used to style macro elements of the webapp */

body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100vw;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.page {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
}