.smallInput {
    height: 30px;
    width: 98.5%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 10px;
    border: 1px solid grey;
    
}

.smallInput::placeholder {
    color: rgb(69, 69, 69);
}

.subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.generalField {
    background-color: rgba(0, 0, 0, 0.3);
    width: 45%;
    display: flexbox;
}